<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org
"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5
">
<head>
  <meta charset="UTF-8"/>
  <title>Edycja profilu</title>

  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <link rel="preconnect" href="https://fonts.googleapis.com
">
  <link rel="preconnect" href="https://fonts.gstatic.com
" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lemon&display=swap
" rel="stylesheet">
  <link href="/css/mystyle.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css
">

</head>
<body>

<div class="background-image"></div>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-success static-top">
  <div class="container">
    <a class="navbar-brand lemon-font" style="font-size:19px" href="/">
      <img src="/images/house-heart-fill.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Stadnina Warszawska
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" style="color: white" th:href="@{/breeds}">Rasy</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="color: white" th:href="@{/horses}">Konie</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="color: white">Jesteś zalogowany/a jako <b
                  style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" th:href="@{/employee_profile}">
            <i class="bi bi-person-square"></i>
          </a>
        </li>

        <li class="nav-item" sec:authorize="isAuthenticated()">
          <form method="post" th:action="@{/}">
            <button class="btn btn-success" type="submit" onclick="successfullyLogout()" value="Sign Out">Wyloguj się</button>
          </form>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="adding-employee-form">
  <h1 class="center-text">Edytuj profil</h1>

  <form action="#" th:action="@{/update_employee_profile}" th:object="${employee}" method="post">
    <table border="1" cellpadding="10">
      <tr>
        <td>Numer pracownika</td>
        <td><input type="text" th:field="*{Nr_Pracownika}" readonly="readonly"></td>
      </tr>
      <tr>
        <td>Imie</td>
        <td><input type="text" th:field="*{Imie}"></td>
      </tr>
      <tr>
        <td>Nazwisko</td>
        <td><input type="text" th:field="*{Nazwisko}"></td>
      </tr>
      <tr>
        <td>PESEL</td>
        <td><input type="text" th:field="*{PESEL}" readonly="readonly"></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><input type="text" th:field="*{Email}"></td>
      </tr>
      <tr>
        <td>Numer dokumentu</td>
        <td><input type="text" th:field="*{Nr_Dokumentu_Pracownika}" readonly="readonly"></td>
      </tr>
      <tr>
        <td>Numer konta</td>
        <td><input type="text" th:field="*{Nr_Konta}"></td>
      </tr>
      <tr>
        <td>Data zatrudnienia</td>
        <td><input type="date" th:field="*{Data_Zatrudnienia}" readonly="readonly"></td>
      </tr>
      <tr>
        <td>Stadnina</td>
        <td><input type="text" th:field="*{Nr_Stadniny}" readonly="readonly"></td>
      </tr>
      <tr>
        <td>Stanowisko</td>
        <td>
          <select th:field="*{Nr_Stanowiska}">
            <option value="1">Opiekun koni</option>
            <option value="2">Stajenny</option>
            <option value="3">Administrator</option>
            <option value="4">Menadżer</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Login</td>
        <td><input type="text" th:field="*{Login}"></td>
      </tr>
      <tr>
        <td>Hasło</td>
        <td><input type="text" th:field="*{Haslo}"></td>
      </tr>
      <tr>
        <td colspan="2" class="centered-cell"><button class="btn btn-success" type="submit">Zapisz</button></td>
      </tr>
    </table>
  </form>

</div>

<div class="footer bg-success">
  <div class="container text-right">
    <a class="navbar-brand lemon-font">
      <img src="/images/house-heart-fill.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Stadnina Warszawska
    </a>
  </div>
</div>

</body>
</html>