<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org
"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5
">
<head>
  <meta charset="UTF-8"/>
  <title>Profil użytkownika</title>

  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <link rel="preconnect" href="https://fonts.googleapis.com
">
  <link rel="preconnect" href="https://fonts.gstatic.com
" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lemon&display=swap
" rel="stylesheet">
  <link href="/css/mystyle.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css
">

</head>
<body>

<div class="background-image"></div>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-success static-top">
  <div class="container">
    <a class="navbar-brand lemon-font" style="font-size:19px" href="/">
      <img src="/images/house-heart-fill.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Stadnina Warszawska
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" style="color: white" th:href="@{/breeds}">Rasy</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="color: white" th:href="@{/horses}">Konie</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="color: white">Jesteś zalogowany/a jako <b
                  style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" th:href="@{/employee_profile}">
            <i class="bi bi-person-square"></i>
          </a>
        </li>

        <li class="nav-item" sec:authorize="isAuthenticated()">
          <form method="post" th:action="@{/}">
            <button class="btn btn-success" type="submit" onclick="successfullyLogout()" value="Sign Out">Wyloguj się</button>
          </form>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div th:if="${employee != null}" class="adding-employee-form">
  <div class="card-body">
    <div class="text-center">
      <i class="bi bi-person-square" style="font-size: 6rem;"></i> <!-- Duża ikona profilu -->
    </div>
    <table class="table table-bordered table-striped">
      <tbody>
      <tr>
        <th>Numer pracownika:</th>
        <td th:text="${employee.Nr_Pracownika}"></td>
      </tr>
      <tr>
        <th>Imię:</th>
        <td th:text="${employee.Imie}"></td>
      </tr>
      <tr>
        <th>Nazwisko:</th>
        <td th:text="${employee.Nazwisko}"></td>
      </tr>
      <tr>
        <th>PESEL:</th>
        <td th:text="${employee.PESEL}"></td>
      </tr>
      <tr>
        <th>Email:</th>
        <td th:text="${employee.Email}"></td>
      </tr>
      <tr>
        <th>Numer dokumentu:</th>
        <td th:text="${employee.Nr_Dokumentu_Pracownika}"></td>
      </tr>
      <tr>
        <th>Numer konta:</th>
        <td th:text="${employee.Nr_Konta}"></td>
      </tr>
      <tr>
        <th>Data zatrudnienia:</th>
        <td th:text="${employee.Data_Zatrudnienia.substring(0, 10)}"></td>
      </tr>
      <tr>
        <th>Numer stadniny:</th>
        <td th:text="${employee.Nr_Stadniny}"></td>
      </tr>
      <tr>
        <th>Numer stanowiska:</th>
        <td th:text="${employee.Nr_Stanowiska}"></td>
      </tr>
      <tr>
        <th>Login:</th>
        <td th:text="${employee.Login}"></td>
      </tr>
      <tr>
        <th>Hasło:</th>
        <td th:text="${employee.Haslo}"></td>
      </tr>
      </tbody>
    </table>
    <div class="text-center">
      <a th:href="@{/edit_employee_profile}" class="btn btn-light">Modyfikuj</a>
    </div>
  </div>
</div>


<div th:if="${employee == null}">
  <p>Informacje o użytkowniku nie są dostępne.</p>
</div>

<div class="footer bg-success">
  <div class="container text-right">
    <a class="navbar-brand lemon-font">
      <img src="/images/house-heart-fill.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Stadnina Warszawska
    </a>
  </div>
</div>

</body>
</html>