<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org
"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5
">
<head>
  <meta charset="UTF-8"/>
  <title>Właściciele koni</title>

  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
  <link rel="preconnect" href="https://fonts.googleapis.com
">
  <link rel="preconnect" href="https://fonts.gstatic.com
" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lemon&display=swap
" rel="stylesheet">
  <link href="/css/mystyle.css" rel="stylesheet">

</head>
<body>

<div class="background-image"></div>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-success static-top">
  <div class="container">
    <a class="navbar-brand lemon-font" style="font-size:19px" href="/">
      <img src="/images/house-heart-fill.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Stadnina Warszawska
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" style="color: white" th:href="@{/breeds}">Rasy</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="color: white" th:href="@{/horses}">Konie</a>
        </li>

        <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
          <a class="nav-link dropdown-toggle" style="color: white" href="#" id="navbarPracownicy" role="button" data-toggle="dropdown" aria-expanded="false">
            Pracownicy
          </a>
          <ul class="dropdown-menu bg-success" aria-labelledby="navbarPracownicy">
            <li><a class="dropdown-item text-white" th:href="@{/employees}">Lista pracowników</a></li>
            <li><a class="dropdown-item text-white" th:href="@{/assign_caretaker}">Przydziel opiekuna</a></li>
          </ul>
        </li>

        <li class="nav-item" sec:authorize="hasRole('ADMIN')">
          <a class="nav-link" style="color: white" th:href="@{/owners}">Właściciele koni</a>
        </li>

        <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
          <a class="nav-link dropdown-toggle" style="color: white" href="#" id="navbarAdresy" role="button" data-toggle="dropdown" aria-expanded="false">
            Adresy
          </a>
          <ul class="dropdown-menu bg-success" aria-labelledby="navbarAdresy">
            <li><a class="dropdown-item text-white" th:href="@{/adresses}">Lista adresów</a></li>
            <li><a class="dropdown-item text-white" th:href="@{/postcodes}">Poczta</a></li>
          </ul>
        </li>

        <li class="nav-item" sec:authorize="isAuthenticated()">
          <a class="nav-link" style="color: white">Jesteś zalogowany/a jako <b
                  style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
        </li>

        <li class="nav-item" sec:authorize="isAuthenticated()">
          <form method="post" th:action="@{/}">
            <button class="btn btn-success" type="submit" onclick="successfullyLogout()" value="Sign Out">Wyloguj się</button>
          </form>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div align="center">
  <h1>Właściciele koni</h1>

  <a href="/new_owner" class="btn btn-success">Dodaj właściciela do bazy danych</a>

  <br/>
  <div class="col-md-16 mx-auto">
    <table class="table table-success table-striped table-hover">

      <thead>
      <tr>
        <th class="center-text">Numer</th>
        <th class="center-text">Imię</th>
        <th class="center-text">Nazwisko</th>
        <th class="center-text">PESEL</th>
        <th class="center-text">Numer dokumentu</th>
        <th class="center-text">Telefon</th>
        <th class="center-text">Email</th>
        <th class="center-text">Numer adresu</th>
        <th class="center-text">Stadnina</th>
        <th class="center-text">Login</th>
        <th class="center-text">Hasło</th>
        <th class="center-text">Edycja</th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="owner : ${listOwners}">
        <td th:text="${owner.Nr_Wlasciciela}" class="center-text">Numer właściciela</td>
        <td th:text="${owner.Imie}" class="center-text">Imie</td>
        <td th:text="${owner.Nazwisko}" class="center-text">Nazwisko</td>
        <td th:text="${owner.PESEL}" class="center-text">PESEL</td>
        <td th:text="${owner.Nr_Dokumentu}" class="center-text">Numer dokumentu</td>
        <td th:text="${owner.Telefon}" class="center-text">Telefon</td>
        <td th:text="${owner.Email}" class="center-text">Email</td>
        <td th:text="${owner.Nr_Adresu}" class="center-text">Numer adresu</td>
        <td th:text="${owner.Nr_Stadniny}" class="center-text">Numer stadniny</td>
        <td th:text="${owner.Login}" class="center-text">Login</td>
        <td th:text="${owner.Haslo}" class="center-text">Hasło</td>
        <td sec:authorize="hasRole('ADMIN')" class="center-text">
          <a th:href="@{'/edit_owner/' + ${owner.Nr_Wlasciciela}}" class="btn btn-light">Modyfikuj</a>
          &nbsp;&nbsp;&nbsp;
          <a th:href="@{'/delete_owner/' + ${owner.Nr_Wlasciciela}}" class="btn btn-secondary">Usuń</a>
        </td>
      </tr>
      </tbody>

    </table>
  </div>
</div>

<div class="footer bg-success">
  <div class="container text-right">
    <a class="navbar-brand lemon-font">
      <img src="/images/house-heart-fill.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Stadnina Warszawska
    </a>
  </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>