<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org
"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5
">
<head>
    <meta charset="UTF-8"/>
    <title>Poczta</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="preconnect" href="https://fonts.googleapis.com
">
    <link rel="preconnect" href="https://fonts.gstatic.com
" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lemon&display=swap
" rel="stylesheet">
    <link href="/css/mystyle.css" rel="stylesheet">

</head>

<div class="background-image"></div>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-success static-top">
    <div class="container">
        <a class="navbar-brand lemon-font" style="font-size:19px" href="/">
            <img src="/images/house-heart-fill.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Stadnina Warszawska
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" style="color: white" th:href="@{/breeds}">Rasy</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" style="color: white" th:href="@{/horses}">Konie</a>
                </li>

                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle" style="color: white" href="#" id="navbarPracownicy" role="button" data-toggle="dropdown" aria-expanded="false">
                        Pracownicy
                    </a>
                    <ul class="dropdown-menu bg-success" aria-labelledby="navbarPracownicy">
                        <li><a class="dropdown-item text-white" th:href="@{/employees}">Lista pracowników</a></li>
                        <li><a class="dropdown-item text-white" th:href="@{/assign_caretaker}">Przydziel opiekuna</a></li>
                    </ul>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" style="color: white" th:href="@{/owners}">Właściciele koni</a>
                </li>

                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle" style="color: white" href="#" id="navbarAdresy" role="button" data-toggle="dropdown" aria-expanded="false">
                        Adresy
                    </a>
                    <ul class="dropdown-menu bg-success" aria-labelledby="navbarAdresy">
                        <li><a class="dropdown-item text-white" th:href="@{/adresses}">Lista adresów</a></li>
                        <li><a class="dropdown-item text-white" th:href="@{/postcodes}">Poczta</a></li>
                    </ul>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" style="color: white">Jesteś zalogowany/a jako <b
                            style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form method="post" th:action="@{/}">
                        <button class="btn btn-success" type="submit" onclick="successfullyLogout()" value="Sign Out">Wyloguj się</button>
                    </form>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div align="center">
    <h1>Poczta</h1>

    <a href="/new_postcode" class="btn btn-success">Dodaj nową pocztę do bazy danych</a>

    <br/>
    <div class="col-md-6 mx-auto">
        <table class="table table-success table-striped table-hover">

            <thead>
            <tr>
                <th class="center-text">Numer poczty</th>
                <th class="center-text">Kod pocztowy</th>
                <th class="center-text">Miejscowość</th>
                <th class="center-text">Edycja</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="postcode : ${listPostcode}">
                <td th:text="${postcode.Nr_Poczty}" class="center-text">Numer poczty</td>
                <td th:text="${postcode.Kod_Poczty}" class="center-text">Kod pocztowy</td>
                <td th:text="${postcode.Miejscowosc}" class="center-text">Miejscowość</td>
                <td class="center-text">
                    <a th:href="@{'/edit_postcode/' + ${postcode.Nr_Poczty}}" class="btn btn-light">Modyfikuj</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete_postcode/' + ${postcode.Nr_Poczty}}" class="btn btn-secondary">Usuń</a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

</div>

<div class="footer bg-success">
    <div class="container text-right">
        <a class="navbar-brand lemon-font">
            <img src="/images/house-heart-fill.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Stadnina Warszawska
        </a>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>